*.o
*.prg
*.ttp
*.tos
*.acc
*.bs
ce_dd_bootsectors/convertor
*.d
test_sting/test_server
*.crf
*.__i
*.map
*.lst
*.lnp
*.plg
*.sct
*.tra
*.dep
*.bak
ce_forker/appviasock
ce_forker/client
**/.idea/
**/venv/
