*.o
*.prg
*.ttp
*.tos
*.acc
*.bs
ce_dd_bootsectors/convertor
*.d
test_sting/test_server
*.crf
*.__i
*.map
*.lst
*.lnp
*.plg
*.sct
*.tra
*.dep
*.bak
**/.idea/
**/venv/
**/venv_*/
__pycache__/
**/__pycache__/
appviasock/appviasock
appviasock/client
appviasock/vt100_to_vt52
ce_main_app/cosmosex_raspbian
ce_main_app/core/cosmosex
libdospath/libdospath.a
libdospath/libtest.exe
