language: c

os:
  - linux

sudo: required
dist: trusty

compiler:
  - gcc

install:
  - 'sh ./.install-cross-mint.sh'
  - 'sudo apt-get install -ym mtools'
  - 'sudo apt-get install -ym build-essential g++-arm-linux-gnueabihf'
  - 'wget http://www.airspayce.com/mikem/bcm2835/bcm2835-1.50.tar.gz && tar xzf bcm2835-1.50.tar.gz && cd bcm2835-1.50 && CC=arm-linux-gnueabihf-gcc ./configure --prefix=/usr/arm-linux-gnueabihf --host=arm-linux-gnueabihf && make && sudo make install && cd ..'
  - 'wget https://curl.haxx.se/download/curl-7.58.0.tar.bz2 && tar xjf curl-7.58.0.tar.bz2 && cd curl-7.58.0 && CC=arm-linux-gnueabihf-gcc ./configure --prefix=/usr/arm-linux-gnueabihf --host=arm-linux-gnueabihf --disable-shared --disable-manual && make && sudo make install && cd .. '

script:
  - 'cd $TRAVIS_BUILD_DIR'
  - 'make ce_main_app ONPC=yes'
  - 'make ce_main_app ACTUAL_CC=arm-linux-gnueabihf-gcc ACTUAL_CXX=arm-linux-gnueabihf-g++ DISTRO=raspbian'
  - 'make atari_progs'
  - 'cp ce_main_app/cosmosex_onpc ce_main_app/cosmosex_yocto'
  - 'make update'
