*.crf
*.__i
*.map
*.lst
*.lnp
*.plg
*.sct
*.tra
*.dep
*.bak
*.log
*.cmd_log
*.bld
*._hrpt
*.data
*.gyd
*.imp
*.jed
*.lso
*.mfd
*.mod
*.ngc
*.ngd
*.ngr
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.vm6
*.xml
*.csv
*.err
__projnav/
main_html/
package_pins.ucf.untf
xst/
