<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>CosmosEx Configuration</title>
        <!-- 
        -->
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.light.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
		    <script type="text/javascript" src="static/js/modernizr.custom.50426.js"></script>
        <script type="text/javascript"> 
        //unfortunately we have to support IE<10, so decide on zepto/jquery here
    		document.write('<script type="text/javascript" src=static/js/jquery.js><\/script>');
//        document.write('<link rel="stylesheet" type="text/css" href="static/css/combined.css">');
    		</script>
        <script type="text/javascript" src="static/js/term.js"></script>
        <script type="text/javascript"> 
    		document.write('<script type="text/javascript" src=static/js/config.js><\/script>');
    		</script>
      	<script language="Javascript">
    		$(document).ready(function () {
    		  	CosmosEx.configInit();
    		});
  		  </script>
        <style>
          #term {
            float: left;
            border: #000 solid 5px;
            font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
            font-size: 11px;
            color: #ffffff;
            background: #000;
            cursor:none;
          }
        </style> 
      </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="span10">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="http://joo.kie.sk/?page_id=415">Manual</a></li>
                    <li><a href="/floppy">Floppy</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/remote">Remote</a></li>
                    <li><a href="/screenshots">Screenshots</a></li>
                    <li class="active"><a href="/config">Config</a></li>
                    <li><a href="/status">Status</a></li>
                </ul>
        <h3>Configuration</h3>
        <p>This is the CosmosEx configuration terminal. Use Cursor Keys to navigate.</p>
            </div>
            <div class="span2">
                <img class="logo" src="static/img/ce_logo.png">
            </div>
        </div>
        <div class="row">
            <div class="span10">
            <div id="term" class="terminal" style=""></div>
            </div>
            </div>
    </div>
    </body>
</html>
