<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>CosmosEx Start Page</title>
        <!-- 
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.light.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
		    <script type="text/javascript" src="static/js/modernizr.custom.50426.js"></script>
        -->
        <script>
        document.write('<link rel="stylesheet" type="text/css" href="static/css/combined.css">');
		</script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="span10">
                <ul class="nav nav-pills">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="http://joo.kie.sk/?page_id=415">Manual</a></li>
                    <li><a href="/floppy">Floppy</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/remote">Remote</a></li>
                    <li><a href="/screenshots">Screenshots</a></li>
                    <li><a href="/config">Config</a></li>
                    <li><a href="/status">Status</a></li>
                </ul>
        <h3>Credits</h3>
            </div>
            <div class="span2">
                <img class="logo" src="static/img/ce_logo.png">
            </div>
        </div>
        <p>
        This webserver is based on these open source projects:
        <ul>
        <li><a href="https://github.com/alephnaughtpix/AtariScreen.js" target="_blank">AtariScreen.js</a> - this uber-cool project enables your browser to display the Atari ST display formats</li>
        <li><a href="https://github.com/watert/bootstrap.light" target="_blank">Bootstrap.Light.CSS</a> - does all the nice buttons</li>
        <li><a href="http://zeptojs.com/" target="_blank">Zepto.js</a> - Lightweight jQuery alternative. Does all the havy DOM lifting, except on old browsers, where <a href="http://jquery.org/" target="_blank">jQuery</a> is used.</li>
        <li><a href="https://github.com/chjj/term.js" target="_blank">term.js</a> - VT100 terminal emulator responsible for showing you CosmosEx' config terminal</li>
        <li><a href="https://github.com/nostrademons/keycode.js/tree/master" target="_blank">keycode.js</a> - helping with all the cross browser keycode madness</li>
        <li><a href="http://modernizr.com/" target="_blank">modernizr</a> - taming the browser madness</li>
        <li><a href="https://github.com/ryanve/actual" target="_blank">actual</a> - helping with orientation and browser width detection on different devices</li>
        </ul>
        </p>
    </div>
    </body>
</html>
