<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>CosmosEx download page</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.light.css">
        <script type="text/javascript" src="static/js/modernizr.custom.50426.js"></script>
        <script type="text/javascript" src="static/js/jquery.js"> </script>
        <script type="text/javascript" src="static/js/floppy.js"> </script>
        <script type="text/javascript" src="static/js/download.js"> </script>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script type="text/javascript">
        var imageList = [];         // image list of games / software (e.g. A001.zip, A002.zip, ...)
        var slots = [];             // this holds fileNames of currently loaded images in slots
        var totalPages = 0;
        var currentPage = 0;
        var do_we_have_storage = false;
        var prevDownloadingCount = 0;
        var prev_encoding_ready = true;
        var prevSearchString = "";

        $(document).ready(function(){
            imageListLoadAndShow(); // get list of lists
            onCheckTimer();         // load all the status variables
            getSearchResults("");   // get list of files and show it

            // add handler to search string change
            var search_input = document.getElementById('search_input')
            search_input.onchange = function(){ onDelayedSearchStringChanged(); };
            search_input.onkeydown = function(){ onDelayedSearchStringChanged(); };
            search_input.onkeypress = function(){ onDelayedSearchStringChanged(); };
        });
        </script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="span10">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="http://joo.kie.sk/?page_id=415">Manual</a></li>
                    <li><a href="/floppy">Floppy</a></li>
                    <li class="active"><a href="/download">Download</a></li>
                    <li><a href="/remote">Remote</a></li>
                    <li><a href="/screenshots">Screenshots</a></li>
                    <li><a href="/config">Config</a></li>
                    <li><a href="/status">Status</a></li>
                </ul>
        <h3>Search and download games</h3>
        <p>Search and download by their name and then simply insert them in floppy slot.</p>
        
    <!-- ---------------------------- -->
    <table border=1 cellspacing=0 cellpadding=5>
      <tr><td>List of images:</td><td>
        <select name="select_image_list" id="select_image_list" onchange="on_image_list_select_changed()">
          <option value="0">default</option>
        </select>
      </td></tr>

      <tr><td colspan=2><p id='no_storage_warning'> </p> </td></tr>

      <tr><td>Search: </td><td> <input type="text" id="search_input">  </td></tr>
      <tr><td colspan=2><p id='search_results'></p> </td></tr>
    </table>        

	<div class="overlay over_convert"><h3>Converting Disk Image...</h3>
        <div class="loader">...</div>
    </div>

	<div class="overlay overlay_dwnld" id='download_msg'><h3>Downloading X disk images...</h3>
        <div class="loader">...</div>
    </div>
 
  </body>
</html>

