<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>CosmosEx Start Page</title>
        <!-- 
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.light.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
		    <script type="text/javascript" src="static/js/modernizr.custom.50426.js"></script>
        -->
        <script>
        document.write('<link rel="stylesheet" type="text/css" href="static/css/combined.css">');
		</script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="span10">
                <ul class="nav nav-pills">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="http://joo.kie.sk/?page_id=415">Manual</a></li>
                    <li><a href="/floppy">Floppy</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/remote">Remote</a></li>
                    <li><a href="/screenshots">Screenshots</a></li>
                    <li><a href="/config">Config</a></li>
                    <li><a href="/status">Status</a></li>
                </ul>
        <h3>Welcome!</h3>
            </div>
            <div class="span2">
                <img class="logo" src="static/img/ce_logo.png">
            </div>
        </div>
        <p>
        You successfully connected your <a href="http://joo.kie.sk?page_id=384">CosmosEx</a> to the network.
        </p>
        
        <br>
        <p>
            You can download the tools for your device:
            <ul class="list-disc">
                <li><b><a href="/app/debug/get_ceconf_prg">CE_CONF.TOS</a></b></li>
                <li><b><a href="/app/debug/get_cedd">CE_DD.PRG</a></b></li>
                <li><b><a href="/app/debug/get_ceconf_msa">All config tools as MSA floppy image</a></b></li>
                <li><b><a href="/app/debug/get_ceconf_tar">All config tools as TAR archive</a></b></li>
            </ul>
        </p>
        <br>
        
        <p>
        This start page provides important links for your device.
        <ul class="list-disc">
            <li>the <a href="http://joo.kie.sk/?page_id=415">manual</a></li>
            <li>the <a href="/remote">remote</a> - remote control your ST from your browser with this virtual keyboard and mouse</li>
            <li>the <a href="/floppy">floppy</a> - upload and activate disk images for floppy emulation</li>
            <li>the <a href="/config">config</a> - like CE_CONF.TOS, but with your webbrowser</li>
            <li>the <a href="/debug">debug information</a> - show some information about your CosmosEx</li>
            <li>the <a href="/credits">credits</a> - learn about all the opensource components used to build this little webserver</li>
        </ul> 
        </p>
    </div>
    </body>
</html>
