<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>CosmosEx Screencast</title>
        <!-- 
		<script type="text/javascript" src="static/js/log.js"></script>
        -->
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.light.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
		<script type="text/javascript" src="static/js/zepto.js"></script>
		<script type="text/javascript" src="static/js/modernizr.custom.50426.js"></script>
		<!-- from https://github.com/alephnaughtpix/AtariScreen.js --> 
  		<script src="static/js/atariscreen.min.js" language="Javascript" type="text/javascript"></script>
		<script type="text/javascript" src="static/js/screen.js"></script>
  		<script language="Javascript">
		$(document).ready(function () {
		  	CosmosEx.Screencast();
		});
  		</script>
    </head>
    <body class="background">
<div id="demo_placeholder"></div>   
    </body>
</html>