<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>CosmosEx Screenshots interface</title>
		<script type="text/javascript" src="static/js/log.js"></script>
        <script>
            document.write('<link rel="stylesheet" type="text/css" href="static/css/combined.css">');
            //unfortunately we have to support IE<10, so decide on zepto/jquery here
            document.write('<script type="text/javascript" src=static/js/' +
            ('__proto__' in {} ? 'zepto' : 'jquery') + '-combined.js><\/script>');
            document.write('<script type="text/javascript"">var jQuery=Zepto;<\/script>');
		</script>

    <!-- scale hack to show whole keyboard even on small devices -->
    <script>
        if ($(window).width() < 768) {
            $('meta[name=viewport]').attr('content','initial-scale='+$(window).width()/768+', maximum-scale='+$(window).width()/768+', user-scalable=0'); 
        }
    </script>
    
    <script>
    	var loadScreen;
    	var dlcount=0;
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url:  '/app/screencast/screenshot_query_vbl',
                
                success: function(data){
                    var radioVblOn  = document.getElementById('vbl_on');
                    var radioVblOff = document.getElementById('vbl_off');
                
                    if(data.screenShotVblEnabled) {
                        radioVblOn.checked  = true;
                        radioVblOff.checked = false;
                    } else {
                        radioVblOn.checked  = false;
                        radioVblOff.checked = true;
                    }
                },
                    
                error: function(){
                    // alert('VBL ON - ERROR');
                }
            });
            
            var ignoreEvent=function(e){
        		e.preventDefault();
        		e.stopPropagation();
				return false;	        		
        	};
	        var bindClickHelper=function(selector,funcEvent){
	            var $element=$(selector);
					    $element.bind('touchstart', funcEvent);
					    $element.bind('touchend', ignoreEvent);
		        	$element.mousedown(funcEvent);
		        	$element.mouseup(ignoreEvent);
		        	$element.click(ignoreEvent);
	          }; 			 
	        var closeAlert=function(e){
	         		e.preventDefault();
	         		e.stopPropagation();
	            $(this).parent().hide();
	          }; 
            //close help
            bindClickHelper(".alert.help a.close",closeAlert);
			$('#download-screenshot').click(function() {
				var canvas=document.getElementById("demo");
				var file="screenshot-"+(1e15+dlcount+"").slice(-3)+".png";
				if( canvas.msToBlob ){
					var blob=canvas.msToBlob();
					window.navigator.msSaveBlob(blob,file);
				}else{
				    this.href = document.getElementById("demo").toDataURL();
				    this.download = file;
				}
			    dlcount++;
			}); 
            loadScreen=CosmosEx.Screencast({reloadms:0}).loadScreen;
        });
    
        function vblOn(onNotOff) {
            var reqUrl = '/app/screencast/screenshot_vbl_';
            if(onNotOff) {
                reqUrl += 'enable';
            } else {
                reqUrl += 'disable';
            }
            
            $.ajax({
                type: 'POST',
                url:  reqUrl,
                data: JSON.stringify({ "action":"screenshot_vbl_onoff" }),
                contentType: 'application/json'
            });
        }
        
        function doScreenShot() {
            $.ajax({
                type: 'POST',
                url: '/app/screencast/do_screenshot',
                data: JSON.stringify({ "action":"do_screenshot" }),
                contentType: 'application/json',
				success: function(){
					//screenshot can take up to 1 second tzo be generated, so delay here
					setTimeout(loadScreen, 1500);
				},
				error: function(){
					//screenshot can take up to 1 second tzo be generated, so delay here
					setTimeout(loadScreen, 1500);
				}
            });        
        }
        
    </script>

    </head>
    <!-- -------------------------------------------------------------------- -->
    
    <body class="background">
    
    <noscript>
    <h1>Please use a modern broser with javascript.</h1>
    Like <a href="http://www.opera.com/">Opera</a>, <a href="https://www.mozilla.org/en/firefox/new/">Firefox</a>, <a href="https://download-chromium.appspot.com/">Chromium</a>.
    <style>
    #content{
    display:none;
    }
    </style>
    </noscript>

    <style>
	#demo_placeholder{
		width:940px !important;
		top:auto;
	}    
    </style>
    
    <div class="container" id="content">
		<div class="row">
	        <div class="span1">
	        </div>
			<div class="span10">
				<a href="/" id="back" class="btn" title="Back to CosmosEx main page">&lt;</a>
		        <strong class="heading">CosmosEx Screenshots interface</strong>
            </div>
	        <div class="span1">
	        </div>
        </div>
		<div class="row">
	        <div class="span2">
	        </div>
			<div class="span8">
			        <label for="vbl_onoff">Screenshot VBL in CE_DD.PRG</label>
			        <input type="radio" name="vbl_onoff" id="vbl_on"  value="on"  onclick="vblOn(1);">ON  
			        <input type="radio" name="vbl_onoff" id="vbl_off" value="off" onclick="vblOn(0);">OFF
		        <button id="screenshot" class="btn btn-primary" onclick="doScreenShot();">Take screenshot</button>
		        <a id="download-screenshot"><button class="btn">Download</button></a>
            </div>
	        <div class="span2">
	        </div>
        </div>

		<div class="row">
       		<div id="demo_placeholder"></div>
        </div>

        <div class="row">
	        <div class="span3">
	        </div>
	        <div class="span6">
		        <div class="alert alert-info desktop touch help">
        			<a class="close">×</a>
			    	<p><strong>Note!</strong></p>
			        <p>By default this functionality is disabled, so it won't interfere with disk transfers in most cases.</p>
			        <p>For the screenshot functionality you have to have CE_DD driver loaded on your ST.</p>
			        <p>If you enable or disable this feature, your ST needs a restart and/or the CE_DD has to be reloaded.</p>
			        <p>A Screenshot takes about a second to display.</p>
		        </div>
	        </div>
        </div>
		<canvas id="canvas">Please use a better browser! </canvas>
        <div class="row">
	        <div class="span3">
	        </div>
	        <div class="span3">
	        <a href="">Download</a>
	        </div>
	        <div class="span3">
	        </div>
        </div>
        
    </div>
    
    </body>
</html>