[Unit]
Description=CosmosEx core app
After=local-fs.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/ce/services/core/cosmosex.elf
StandardOutput=null
StandardError=null

[Install]
WantedBy=local-fs.target
