[Unit]
Description=CosmosEx task queue
After=local-fs.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/ce/services/taskq/ce_taskq.sh
StandardOutput=null
StandardError=null

[Install]
WantedBy=local-fs.target
