[Unit]
Description=CosmosEx updater service
After=local-fs.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/ce/services/updater/service.sh
StandardOutput=null
StandardError=null

[Install]
WantedBy=local-fs.target
