[Unit]
Description=CosmosEx web server

# The web server should be started after the network is up. The right "wait" service must be enabled too, check if one of these 2 is enabled:
# systemctl is-enabled NetworkManager-wait-online.service systemd-networkd-wait-online.service
After=network-online.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/ce/services/webserver/ce_web.sh
StandardOutput=null
StandardError=null

[Install]
WantedBy=local-fs.target
