[Unit]
Description=CosmosEx main app
After=remote-fs.target

[Service]
Type=forking
Restart=no
ExecStart=/ce/ceboot.sh nosystemctl
ExecStop=/ce/ce_stop.sh nosystemctl
StandardOutput=null
StandardError=null
Restart=on-failure

[Install]
WantedBy=local-fs.target
