BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
VCCIO_DERATE PERCENT 0; 
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "DATA_RPI[7]" SITE "1" ;
LOCATE COMP "DATA_RPI[1]" SITE "4" ;
LOCATE COMP "XRnW" SITE "9" ;
LOCATE COMP "XNEXT" SITE "10" ;
LOCATE COMP "DATA_RPI[6]" SITE "12" ;
LOCATE COMP "DATA_RPI[5]" SITE "13" ;
LOCATE COMP "STdidTransfer" SITE "14" ;
LOCATE COMP "DATA_RPI[4]" SITE "15" ;
LOCATE COMP "XRESET" SITE "16" ;
LOCATE COMP "DATA_RPI[0]" SITE "17" ;
LOCATE COMP "DATA_RPI[2]" SITE "97" ;
LOCATE COMP "DATA_RPI[3]" SITE "96" ;
LOCATE COMP "DATA_ST_UPPER[2]" SITE "87" ;
LOCATE COMP "DATA_ST_UPPER[1]" SITE "86" ;
LOCATE COMP "DATA_ST_UPPER[0]" SITE "85" ;
LOCATE COMP "DATA_ST_LOWER[3]" SITE "76" ;
LOCATE COMP "DATA_ST_LOWER[2]" SITE "77" ;
LOCATE COMP "DATA_ST_LOWER[5]" SITE "78" ;
LOCATE COMP "DATA_ST_LOWER[4]" SITE "81" ;
LOCATE COMP "DATA_ST_LOWER[7]" SITE "83" ;
LOCATE COMP "DATA_ST_LOWER[6]" SITE "84" ;
LOCATE COMP "DATA_ST_LOWER[0]" SITE "75" ;
LOCATE COMP "DATA_ST_LOWER[1]" SITE "74" ;
LOCATE COMP "ADDR[8]" SITE "69" ;
LOCATE COMP "ADDR[7]" SITE "67" ;
LOCATE COMP "ADDR[6]" SITE "65" ;
LOCATE COMP "ADDR[5]" SITE "63" ;
LOCATE COMP "ADDR[4]" SITE "59" ;
LOCATE COMP "ROM3" SITE "58" ;
LOCATE COMP "ADDR[3]" SITE "57" ;
LOCATE COMP "ADDR[2]" SITE "53" ;
LOCATE COMP "UDS" SITE "52" ;
LOCATE COMP "ADDR[1]" SITE "48" ;
LOCATE COMP "LDS" SITE "47" ;
SYSCONFIG MCCLK_FREQ=14.78 ;
