










NET int LOC=P34;
NET cs LOC=P36;
NET drq LOC=P37;
NET data1<7> LOC=P38;
NET data1<6> LOC=P40;
NET data1<5> LOC=P41;
NET a1 LOC=P42;
NET data1<4> LOC=P43;
NET data1<3> LOC=P44;
NET ack LOC=P1;
NET data1<2> LOC=P2;
NET data1<1> LOC=P3;
NET reset LOC=P5;
NET data1<0> LOC=P6;
NET reset_hans LOC=P7;
NET dma LOC=P8;
NET txsel1n2 LOC=P12;
NET pio LOC=P13;
NET rnw LOC=P14;
NET tx_out LOC=P16;
NET cmd LOC=P18;
NET data2<7> LOC=P19;
NET data2<6> LOC=P20;
NET data2<5> LOC=P21;
NET data2<4> LOC=P22;
NET data2<3> LOC=P23;
NET data2<2> LOC=P28;
NET data2<1> LOC=P30;
NET tx1_in LOC=P31;
NET tx2_in LOC=P32;
NET data2<0> LOC=P33;
